.container {
  width: 100%;
  height: 255px;
  position: relative;
}
@media (min-width: 768px) {
  .container {
    height: 275px;
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    height: 415px;
    margin-top: 40px;
  }
}
.picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  filter: brightness(90%);
  object-fit: cover;
}
.back {
  position: absolute;
  top: 50%;
  rotate: 90deg;
  left: 2%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .backArrow {
    height: 20px;
  }
}
@media (min-width: 768px) {
  .forwardArrow {
    height: 20px;
  }
}

.forward {
  position: absolute;
  top: 50%;
  right: 2%;
  rotate: 270deg;
  cursor: pointer;
}
.page {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;

  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: -5%;
}
@media (min-width: 1024px) {
  .page {
    height: 20px;
    bottom: 10%;
  }
}
