.navBar {
  width: 130px;
  height: 17px;
  top: 18px;
  margin-left: 160px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
}

@media (min-width: 768px) {
  .navBar {
    width: 209px;
    height: 34px;
    top: 17px;
    left: 931px;
  }
}

.homeLink {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;

  display: flex;
  align-items: flex-end;
  text-align: right;
  text-transform: uppercase;

  color: #ff6060;
  text-decoration: none;
}
@media (min-width: 768px) {
  .homeLink {
    font-size: 20px;
    line-height: 17px;

    text-transform: none;
  }
}

.aboutLink {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: #ff6060;
  text-decoration: none;
}
@media (min-width: 768px) {
  .aboutLink {
    font-size: 20px;
    line-height: 17px;
    text-transform: none;
  }
}
.activeLink {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;

  display: flex;
  align-items: flex-end;
  text-align: right;
  text-transform: uppercase;

  color: #ff6060;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .activeLink {
    font-size: 20px;
    line-height: 17px;

    text-transform: none;
  }
}
