.banner {
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 86%;
  height: 47px;
  top: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .banner {
    width: 86%;
    height: 68px;
  }
}
