.headerLogo {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  left: 0%;
  right: 56.72%;
  top: 0%;
  bottom: 0%;
  width: 145px;
  height: 47px;
}

@media (min-width: 768px) {
  .headerLogo {
    width: 150px;
    height: 52px;
  }
}
.footerLogo {
  width: 122px;
}
